@font-face{
    font-family: myFont;
    src: url(./fonts/PPRightGothic-WideMedium.woff);
}
::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   margin: 0;
}


.navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background:#121212;
}
/* .navbar.scrolled {
    background:#121212;
} */
.logo{
    height: 1.875rem;
}
.download{
    width: 6.563rem;
    height: 1.875rem;
    background-color: #F9956B;
    border: none;
    border-radius: 0.5rem;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.938rem;
    color: #FFFFFF;
}


.hero{
    width: 100%;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/vector1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #121212;
    position: relative;
    isolation: isolate;
    overflow:hidden;
}
.hero::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #121212;
    opacity: .9;
}
.init-txt{
    height: 13rem;
    width: 95%;
    text-align: center;
    font-family: myFont;
    overflow: hidden;
}
.init-txt h3{
    margin-top: 25rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    color: #FFFFFF;
    transition: cubic-bezier(.03,1.11,.96,1.13) 1.3s;
}
.init-txt p{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: #B3B3B3;
    transition: cubic-bezier(.03,1.11,.96,1.12) 1s;
}
.show-hero .init-txt h3{
    transform: translateY(-23rem);
}
.show-hero .init-txt p{
    transform: translateY(-23rem);
}
.sample{
    height: 15rem;
    width: 100%;
    padding-left: 1.5rem;
    margin-top: 5rem;
    display: flex;
    align-items: end;
    justify-content: center;
}
.iphone-top{
    width: 15rem;
    height: 15rem;
    margin-bottom: -10rem;
    z-index: 0;
    position: relative;
    transition: cubic-bezier(.03,1.11,.96,1.12) 1s;
}
.menu{
    width: 10rem;
    margin-left: -5rem;
    margin-bottom: -3rem;
    z-index: 1;
    position: relative;
    transition: cubic-bezier(.03,1.11,.96,1.12) 1s;
}
.show-hero .iphone-top{
    transform: translateY(-9rem);
}
.show-hero .menu{
    transform: translateY(-4.3rem);
}


.features{
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/featuresbkg.svg);
    background-size: cover;
    /* background-position: center; */
}
.ft-box{
    width: 95%;
    padding-top: 3%;
    padding-right: 5px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
.content{
    height: 12rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.ft-box h3{
    font-family: myFont;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #222222;
}
.link-cont{
    width: 100%;
    margin-top: 7%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn{
    width: 30%;
    height: 2.063rem;
    color: #121212;
    background: none;
    border: 1px solid #F9956B;
    border-radius: 0.5rem;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 0.938rem;
}
.btn:hover{
    background-color: #F9956B;
    color: #FFFFFF;
}
.btn.clicked{
    background-color: #F9956B;
    color: #FFFFFF;
}
.heading{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 2.5rem;
    color: #222222;
}
.prg{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #4D4D4D;
    margin-top: -8.3rem;
    transition: 1s;
    opacity: 0;
}
.show-ft .prg{
    transform: translateY(8.3rem);
    opacity: 1;
}
.show-ft .apps{
    transform: translateY(9rem);
    opacity: 1;
}
.apps{
    height: fit-content;
    width: 11.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: cubic-bezier(.03,1.11,.96,1.13) 1.3s;
    opacity: 0;
}
.appstore, .playstore{
    width: 5.313rem;
    height: 1.563rem;
    border-radius: 0.25rem;
    border: 0.031rem solid #121212;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.appstore a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 0.5rem;
    line-height: 0.563rem;
    text-decoration: none;
    color: #121212;
}
.appstore img{
    width: 0.875rem;
}
.playstore img{
    width: 0.938rem;
}
.playstore a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 0.5rem;
    line-height: 0.563rem;
    text-decoration: none;
    color: #121212;
}
.apps span{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 0.375rem;
    line-height: 0.563rem;
}
.boxx{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.iphone{
    width: 10rem;
    transition: ease-in-out .4s;
}
.show-ft .iphone{
    transform: scale(1.2, 1.2);
}



.more-details{
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
}
.more-details h3{
    margin-bottom: 1rem;
    font-family: myFont;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #222222;
    align-self: center;
    justify-self: center;
}
.guide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}
.bvnbox{
    width: 13.125rem;
    height: 18.75rem;
    margin-bottom: 2rem;
    background-color: #F9956B;
    border: 1px solid #E6E6E6;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-self: center;
    align-items: center;
    background-image: url(./images/bvnbkg.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    isolation: isolate;
    transition: 1.5s;
}
.otpbox{
    width: 13.125rem;
    height: 18.75rem;
    margin-bottom: 2rem;
    background-color: #F9956B;
    border: 1px solid #E6E6E6;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    justify-self: center;
    align-items: center;
    background-image: url(./images/otpbkg.svg);
    background-size: cover;
    background-position: center;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    transition: 1.5s;
}
.pinbox{
    width: 13.125rem;
    height: 18.75rem;
    margin-bottom: 4rem;
    background-color: #F9956B;
    border: 1px solid #E6E6E6;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-self: center;
    align-items: center;
    background-image: url(./images/bvnbkg.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    isolation: isolate;
    transition: 1.5s;
}
.show-dt .bvnbox{
    box-shadow: 0rem 2.5rem 2.5rem 0.313rem rgba(0, 0, 0, 0.19);
}
.show-dt .otpbox{
    box-shadow: 0rem 2.5rem 2.5rem 0.313rem rgba(0, 0, 0, 0.19);
}
.show-dt .pinbox{
    box-shadow: 0rem 2.5rem 2.5rem 0.313rem rgba(0, 0, 0, 0.19);
}
.bvnbox::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #F9956B;
    opacity: .8;
    border-radius: 1rem;
}
.otpbox::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #F9956B;
    opacity: .8;
    border-radius: 1rem;
}
.pinbox::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #F9956B;
    opacity: .8;
    border-radius: 1rem;
}
.bvn, .otp, .pin{
    width: 90%;
    transition: cubic-bezier(.03,1.11,.96,1) 1.5s;
}
.bvn, .pin{
    align-self: center;
    justify-self: start;
}
.otp{
    align-self: center;
    justify-self: end;
}
.show-dt .bvn{
    transform: translateY(-7.5rem);
}
.show-dt .otp{
    transform: translateY(7.5rem);
}
.show-dt .pin{
    transform: translateY(-7.5rem);
}
.bvn-txt, .pin-txt{
    width: 100%;
    margin-top: 0.375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: cubic-bezier(.03,1.11,.96,1.02) 1.5s;
}
.otp-txt{
    width: 100%;
    margin-bottom: 0.375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    transition: cubic-bezier(.03,1.11,.96,1.02) 1.5s;
}
.show-dt .bvn-txt{
    transform: translateY(-7rem);
}
.show-dt .otp-txt{
    transform: translateY(7.5rem);
}
.show-dt .pin-txt{
    transform: translateY(-7rem);
}
.hd{
    margin-left: 1.2rem;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 0.313rem;
    color: #FFFFFF;
}
.txt{
    margin-left: 1.2rem;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.563rem;
    line-height: 1.6;
    color: #FFFFFF;
}
.companies{
    width: 14rem;
    display: flex;
    flex-direction: column;
}
.comp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}
.swipe, .bank3d{
    max-width: 6rem;
}
.pkw{
    width: 7rem;
}
.readycash{
    width: 7rem;
}

.ad-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding-bottom: 3rem;
}
.formbox{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    grid-column: span 2;
    height: 32rem;
    width: 17rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    border: 0.719528px solid #E6E6E6;;
    box-shadow: 0rem 2.5rem 2.5rem 0.313rem rgba(0, 0, 0, 0.12);
}

.vidbox{
    height: 40%;
    width: 100%;
    isolation: isolate;
    position: relative;
    display: flex;
}
video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-bottom: 10rem;
}
.vidbox p{
    align-self: end;
    margin: 1rem;
    color: #999999;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.5rem;
}
.vidbox span{
    color: #FFFFFF;
    font-family: myFont;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 0.938rem;
}
form{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60%;
}
label{
    width: 80%;
    margin-bottom: 0.5rem;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 0.58rem;
    line-height: 0.938rem;
    color: #121212;
}
input{
    width: 100%;
    height: 2.5rem;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 0.58rem;
    line-height: 0.938rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border: 1px solid #E6E6E6;
}
#message{
    width: 100%;
    height: 3.5rem;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 0.58rem;
    line-height: 0.938rem;
    text-align: start;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border: 1px solid #E6E6E6;
}
#submit{
    width: 75%;
    height: 4em;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 0.58rem;
    line-height: 0.938rem;
    color: #FFFFFF;
    background-color: #F9956B;
    border: none;
    border-radius: 0.5rem;
}
.download-box{
    height: 20rem;
    width: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #121212;
    background-image: url(./images/bottomvector.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    position: relative;
    isolation: isolate;
    margin-top: 3%;
}
.download-box::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #121212;
    opacity: .5;
    border-radius: 1.5rem;
}
.ad-txt{
    width: 70%;
    height: fit-content;
}
.download-box h3{
    font-family: myFont;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    text-align: center;
}
.apps2{
    height: fit-content;
    width: 12.25rem;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.appstore2, .playstore2{
    width: 5.8rem;
    height: 1.7rem;
    background-color: #121212;
    border-radius: 0.25rem;
    border: 0.063rem solid #FFFFFF;;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.appstore2 a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 0.5rem;
    line-height: 0.563rem;
    text-decoration: none;
    color: #FFFFFF;
}
.appstore2 img{
    width: 0.875rem;
}
.playstore2 img{
    width: 0.938rem;
}
.playstore2 a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 0.5rem;
    line-height: 0.563rem;
    text-decoration: none;
    color: #FFFFFF;
}
.apps2 span{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 0.4rem;
    line-height: 0.563rem;
}



.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.yurline{
    width: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.063rem solid white;
    width: 17rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
}
.logo2{
    height: 1.2rem;
    margin-bottom: 4px;
}
.contact{
    width: 12rem;
    height: 1.875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.socials{
    width: 8rem;
    height: 1.875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.socials img{
    width: 0.8rem;
}
.fb{
    max-width: 0.5rem;
}
.contact a{
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 0.563rem;
    color: #FFFFFF;
}
.cpy-line{
    width: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cpy-line a{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.6rem;
    line-height: 1rem;
    color: #FFFFFF;
    text-decoration: underline;
    padding-bottom: 1rem;
}


@media screen and (min-width:650px){
    .logo{
        margin-left: 3rem;
    }
    .download{
        margin-right: 3rem;
    }

    .iphone-top{
        width: 18rem;
        height: 18rem;
    }
    .menu{
        width: 14rem;
        margin-bottom: -4em;
        margin-left: -8rem;
    }


    .features{
        flex-direction: row;
        align-items: center;
        padding-left: 1rem;
        padding-right: 2rem;
    }
    .ft-box{
        width: 30rem;
        margin-right: 2rem;
    }
    .guide{
        flex-direction: row;
        margin-bottom: 2rem;
    }
    .bvnbox, .otpbox{
        margin-right: 0.5rem;
    }
    .companies{
        width: 40rem;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .comp{
        width: 15rem;
        justify-content: space-between;
    }


    .formbox{
        flex-direction: row;
        width: 40rem;
        height: 17rem;
        border-radius: 1rem;
    }
    .vidbox{
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
    video{
        border-radius: 0;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    .vidbox p{
        margin: 2.1rem;
    }
    form{
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
    .download-box{
        height: 13.5rem;
        width: 40rem;
    }

    .yurline{
        width: 40rem;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo2{
        display: unset;
    }
    .cpy-line{
        width: 40rem;
        flex-direction: row;
    }
    .cpy-line a{
        margin-right: 1em;
    }
}


@media screen and (min-width:950px){
    .logo{
        margin-left: 15rem;
    }
    .download{
        margin-right: 15rem;
    }

    .hero{
        padding-top: 9em;
    }
    .init-txt{
        height: 15rem;
        margin-bottom: 3em;
        width: 40rem;
    }
    .init-txt h3{
        font-size: 2.938rem;
        line-height: 3.875rem;
    }
    .init-txt p{
        font-size: 1.375rem;
        line-height: 1.25rem;
    }
    .iphone-top{
        width: 20rem;
        height: 20rem;
        margin-bottom: -13em;
    }
    .show-hero .iphone-top{
        transform: translateY(-12rem);
    }
    .menu{
        width: 19rem;
        margin-bottom: -7.5em;
        margin-left: -6em;
    }
    .show-hero .menu{
        transform: translateY(-8.3rem);
    }


    .hd{
        font-size: 0.8rem;
        line-height: 0.313rem;
        margin-left: 1.2rem;
    }
    .txt{
        font-size: 0.563rem;
        line-height: 1.6;
        margin-left: 1.2rem;
    }
    .show-dt .bvn-txt{
        transform: translateY(-7rem);
    }
    .show-dt .otp-txt{
        transform: translateY(7.5rem);
    }
    .show-dt .pin-txt{
        transform: translateY(-7rem);
    }
    .more-details{
        padding-top: 7rem;
        padding-bottom: 4rem;
    }

    .download-box h3{
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
}

@media screen and(min-width: 1920px){
    .logo{
        margin-left: 22rem;
    }
    .download{
        margin-right: 22rem;
    }
}